//Swatch main
$black: #141414;
$white: #EEF0F2;

//swatch group 1
$red: #E01A4F;
$blue: #0D21A1;
$green: #CAFFD0;

//swatch group 2
$pink: #E2007C;
$orange: #FE5D26;
$yellow: #F2C078;

$num-of-circles: 12;


body{
	background-color: $black;
}

.background{
	display: flex;
	align-items: stretch;
	background-color: $black;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	background-color: $yellow;
}

.large-circles{
	flex-grow: 1;
	circle{
		fill: none;
		animation-name: large-spin-clockwise;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		transform-origin: 50% 50%;
		will-change: transform;

		@for $i from 1 through $num-of-circles {
			&:nth-of-type(#{$i}) {
				//animation-delay: -#{$i * (30 / $num-of-circles)}s;
				animation-duration: #{$i * (30 / $num-of-circles) + 30}s;
				transform-origin: #{($i % 2 * 2 - 1) * $i * (90 / $num-of-circles) + 180}px #{($i % 2 * 2 - 1) * $i * -1 * (90 / $num-of-circles) + 180}px;
				@if ($i % 3 == 0){
					&:nth-of-type(#{$i}){
						animation-name: large-spin-counter-clockwise;
					}
				}
			}
		}
	}
}

@keyframes large-spin-clockwise{
	100%{
		transform: rotate(360deg);
	}
}
@keyframes large-spin-counter-clockwise{
	100%{
		transform: rotate(-360deg);
	}
}


.stroke1{
	stroke: $red;
}

.stroke2{
	stroke: $blue;
}

.stroke3{
	stroke: $green;
}
