body {
  height: 96vh;
  width: 96vw;
  margin: 2vh 2vw;
}

.title{
}

.selectionArea{
  display: flex;
  flex-direction: column;
  margin: 1vh;
}

.buttons{
  margin: 2px;
}

.Art{
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.canvas{
  display: flex;
  flex: 1;
  flex-direction: column;
}

#userArt{
  max-width: 75vw;
  max-height: 75vw;
  width: 75vh;
  height: 75vh;
  border: 3px solid Black;
}

#titleArt{
  max-width: 100vw;
  max-height: 10vw;
  width: 75vw;
  height: 10vh;
  min-width: 50vw;
  min-height: 5vw;
}

.columnCell{
  display: flex;
  flex: 1;
  margin: 0;
}

.rowBlock{
  display: flex;
  flex: 1;
  margin: 0;
}

.footer{
}
